:root {
  --sage-green: #aac3a3;
  --lilac: #ecc6cf;
  --brown: #9a8c82;
}

.WeatherForecast {
  text-align: center;
}

.WeatherForecast .col {
  border: solid 3px var(--lilac);
  border-radius: 10px;
  margin: 20px 5px 10px 5px;
}

.WeatherForecast-temp {
  color: var(--brown);
}
