:root {
  --sage-green: #aac3a3;
  --lilac: #ecc6cf;
  --brown: #9a8c82;
}

.Weather {
  padding: 20px;
  border: 3px var(--sage-green) solid;
  background: #fefbf3;
  border-radius: 10px;
}

.form-control {
  border: 3px var(--brown) solid !important;
}

.btn {
  background-color: var(--lilac) !important;
  color: white !important;
}

.Weather h1 {
  color: var(--brown);
  font-size: 40px;
  padding: 15px 0px;
}

.Weather li {
  list-style: none;
}

.Weather .temperature {
  font-size: 60px;
  font-weight: bold;
  padding: 0px 15px 60px 0px;
}

.Weather .date {
  padding: 15px;
}

.Weather .info {
  background-color: var(--lilac);
  padding: 10px;
  border-radius: 10px;
}

.Weather canvas {
  padding: 10px 10px 10px 30px;
}

.weatherTemperature .unit {
  font-size: 13px;
}
.weatherTemperature .unit a {
  text-decoration: none;
}
